* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
}

main {
  padding-top: 50px;
}

hr {
  height: 10px;
  background: #9DDD0A;
  border-color: #9DDD0A;
}

a {
  text-decoration: none;
}

/* -----NAVBAR CONTAINER----- */
.top-header {
  font-size: 30px;
  display: block;
  width: 100%;
  background: #E6E6E6;
  color: #BB19D9;
  height: 50px;
  position: fixed;
  z-index: 2;
}
.top-header a {
  font-size: 25px;
}

/* -----NAVBAR CONTAINER----- */
/* -----ABOUT CONTAINER----- */
#About {
  display: block;
  text-align: center;
  margin: 0 auto;
}

article {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  background: white;
  border: 2px solid #808080;
  padding-bottom: 100px;
  margin-bottom: -100px;
  position: relative;
  z-index: 0;
}
article p {
  padding: 50px;
}

/* -----ABOUT CONTAINER----- */
/* -----SKILLS CONTAINER----- */
#Skills {
  background: #bc19d99a;
  z-index: -1;
  padding-bottom: 200px;
  margin-bottom: -200px;
}

.skills-container {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
}
.skills-container img {
  width: 150px;
  padding: 30px;
  background: #f4f000;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px -3px 15px 3px #808080;
}
.skills-container figcaption {
  font-size: 20px;
  background: #f4f000;
  padding: 5px;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 3px 15px 3px #808080;
}

/* -----SKILLS CONTAINER----- */
/* -----PROJECTS CONTAINER----- */
h2 {
  font-size: 30px;
}

#Projects {
  display: block;
  text-align: center;
  margin: 0 auto;
}
#Projects .overlay {
  display: inline;
  position: absolute;
  top: -30px;
  bottom: 0;
  left: -30px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #808080;
}
#Projects div {
  width: 80%;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  border-radius: 8px;
  background: #E6E6E6;
  margin: 30px;
  justify-content: space-between;
}
#Projects div p {
  margin-top: 10%;
}
#Projects div img {
  width: 250px;
}
#Projects div p {
  padding: 30px;
}
#Projects div img {
  width: 650px;
  height: 350px;
  padding: 30px;
}
#Projects div button {
  color: white;
  background: #9DDD0A;
  height: 15%;
  width: 20%;
  font-size: 20px;
  position: relative;
  margin: 20px;
  top: 37%;
  text-align: center;
}
#Projects div:hover .overlay {
  opacity: 1;
}

/* -----PROJECTS CONTAINER----- */
/* -----FOOTER CONTAINER----- */
#circle-name {
  display: block;
  text-align: center;
  margin: 0 auto;
  background: #9DDD0A;
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: -40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
}
#circle-name p {
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 16px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#Contacts {
  display: flex;
  flex-direction: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 10%;
  background: #BB19D9;
  border-top: 10px solid #9DDD0A;
  padding-top: 10px;
}
#Contacts img {
  width: 50px;
}

/* -----FOOTER CONTAINER----- */

/*# sourceMappingURL=styleOut.css.map */
