$violet: #BB19D9;
$green:  #9DDD0A;
$yellow: #F4EF00;
$greyLt: #E6E6E6;
$greyDk: #808080;



@mixin icon {
    width: 80px;
    padding: 20px;
}

@mixin center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

@mixin box {
    width: 80%;
    border: 1px solid black;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    p {
        margin-top: 10%;
    }

    img {
        width: 250px;
    }
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    color: $violet;
    margin: 0;
}

a{
    text-decoration: none
}

header {
    font-size: 30px;
    display: block;
    width: 100%;
    background: $greyDk;
    color: $violet;
    height: 50px;
    a{
        font-size: 25px;
    }
}

#About{
    @include center;
}

article{
    @include box;
}

#Skills {
    display: flex;
    flex-direction: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
        @include icon;
    }
}

#Projects {
    @include center;
    
    div{
        @include box;
        border: 1px solid black;
        border-radius: 5px;
    }
}

#Contacts {
    display: flex;
    flex-direction: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10%;
    background: $violet;
    img {
        @include icon;
    }
}