// COLORS

$violet: #BB19D9;
$green:  #006abb;
$yellow: #FFBC4D;
$pink: #ff97afc9;
$greyLt: #dbdbdb;
$greyDk: #808080;
$violetLt: #630085ef;
$violetDk: #670073;

// COLORS

// FONTS 

$large: 30px;
$medium: 20px;
$standart: 16px;
$small: 14px;
$xsmall: 12px;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

// FONTS

html{
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    scroll-behavior: smooth;
    margin:0;
}
@mixin icon {
    width: 150px;
    padding: 20px;
}

@mixin center {
    text-align: center;
    margin: 0 auto;
}

@mixin box {
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
   
    img {
        width: 250px;
    }
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    background: rgb(251,251,231);
    background: linear-gradient(0deg, rgba(251,251,231,1) 0%, rgba(247,203,255,1) 69%, rgba(255,255,255,1) 100%);
}

hr{
    height: 10px;
    background: $green;
    border-color: $green;
    -ms-transform: skewY(20deg);
    transform: skewY(20deg);
    position: relative;
    z-index: 0;
}

.oppositeHr{
    height: 10px;
    background: $green;
    border-color: $green;
    -ms-transform: skewY(-20deg); 
    transform: skewY(-20deg);
    position: relative;
    z-index: -1;
}


a{
    text-decoration: none
}

/* -----NAVBAR CONTAINER----- */ 
.top-header{
    background: $violetDk;
    height: 50px;
}

#navbar {
    overflow: hidden;
    z-index: 3;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-evenly;
    .toggle-btn{
        display: none;
        background: transparent;
        img{
            width: 45px;
        }
    }
    .link-wide {
        color: #f2f2f2;
        text-align: center;
        text-transform: uppercase;
        padding: 14px 16px;
        margin-right: 20px;
        margin-left: 20px;
        text-decoration: none;
        font-size: $standart;
        transition: all 0.3s ease;
    }
    .link-wide:hover {
        transform: all;
        border-bottom: 5px solid $yellow;
        color: $yellow;

    }
}
 
.sticky {
    background: $violetDk;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}


/* -----NAVBAR CONTAINER----- */ 

/* -----ABOUT CONTAINER----- */ 

#About{
    @include center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: transparent;
    align-items: center;
    justify-content: center;
    article{
        display: flex;
        flex-direction: column;  
        width: 70%;
        margin-left: 5%;
        h2{
            font-size: $large;
            span{  
                font-size: $large;
                color: $violet;
                position: relative;
            }

            span::after{
                content: '';
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 32px;
                background-color: $yellow;
                transform: scaleX(0.35);
                transform-origin: left;
                transition: transform 250ms ease-in;
            }

            span:hover::after{
                transform:  scaleX(1);
            }
        }
        button {
            @include center; 
            font-size: 1.3rem;
            position:relative;
            z-index: 1;
            width: 35%;
            height: 7vh;
            border: 3px solid $violetDk;
            background: transparent;
            color: black;
            border-radius: 10px;
            transition: all 0.5s ease-in;
            cursor: pointer;
            img{
                width: 20px;
                transition: all 0.5s ease-in;
            }
            &:hover{
                transform: scale(1.1);
                background: $violet;
                color: white;
                img{
                    transform: rotate(90deg);
                }
            }
        }   
        .banner-small-text{
            img{
                width: 20px;
            }
        }     
    }

    .banner-img{
        width: 60%;
        transition: transform 0.5s ease-in;
        &:hover {
            transform: scale(1.1);
        }
    }
    
}
/* -----ABOUT CONTAINER----- */ 

/* -----SKILLS CONTAINER----- */ 
#Skills{
    background: #af38c48f;
    z-index: -1;
    padding-bottom: 200px; // makes background overflow to another div
    margin-bottom: -200px;
}
.skills-container {
    @include center;
    width: 70%;
    display: flex;
    flex-direction: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    position: relative;
    z-index: 2;
    padding-top: 3%;
    .icon-container:nth-child(5){
        font-size: 15px;
    }
    img {
        @include icon;
        background-color: $yellow;
        filter: brightness(1);
        border-radius: 8px 8px 0px 0px ;
        box-shadow: 0px -2px 15px 1px $greyDk;
        transition: filter 0.5s ease-in-out;
    }
    img:hover{
        filter: brightness(1.6);
    } 
    figcaption {
        font-size: $medium;
        font-weight: bold;
        background-color: $yellow;
        filter: brightness(1);
        padding: 5px;
        border-radius: 0px 0px 8px 8px ;
        box-shadow: 0px 2px 15px 1px $greyDk; 
        transition: filter 0.5s ease-in-out;
    }
    .icon-container:hover {
        animation: pulse; 
        animation-duration: 1s;     
        figcaption{
            filter: brightness(1.6);
        }
    }
}
/* -----SKILLS CONTAINER----- */ 

/* -----PROJECTS CONTAINER----- */

  
#Projects {
    @include center;
    h2{
        font-size: 2.5rem;
        color: black;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        transition: color 350ms ease-in;
    }
    h2:hover{
        color: white;
    }
    h2::after{
        content: '';
        position: absolute;
        right: 35%;
        bottom: 0;
        width: 30%;
        height: 3px;
        background-color: black;
        transform: scaleX(0.2);
        transform-origin: center;
        transition: all 350ms ease-in;
    }
    h2:hover::after{
        transform:  scaleX(1);
        background-color: white;
    }
    .overlay{
        display: inline;
        position: absolute;
        visibility: hidden;
        top: -25px;
        bottom: 0;
        left: -25px;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $violetLt;

        .in-overlay{
            color: white;
            font-size: 2.5rem;
            margin-top: 5%;
        }
    }
    div{
        @include box;
        border-radius: 10px 100px / 120px;
        background: white;
        margin: 25px;
        align-items: middle center;
        z-index: 2;
        
        .description{
            text-align: left;
            padding: 5%;
            line-height: 1.6;
            .project-name{
                filter: drop-shadow(15px 8px 4px #d4567394);
                background-color: $pink;
                padding: 3%;
                font-size: $large;
                font-weight: bold;
                color: $violetDk;
            }
            .small-icons{
                border-radius: 6px;
                width:35px;
                height:35px;
                padding: 2px; 
                margin: 0; 
                background:#FFBC4D;
            }
        }
        img {
            width: 60%;
            padding: 30px;
        }
        button {
            color: white;
            background: transparent;
            border-style: none;
            border: 3px solid white;
            height: 15%;
            width: 20%;
            font-size: $medium;
            position: relative; 
            margin: 20px;
            text-align: center;
            border-radius: 15px;
            cursor: pointer;
            transition: all 250ms ease-in;
        }
    }
    div:hover{
        .overlay{
            visibility: visible;
            opacity: 1;
            box-shadow: 0px 0px 2px $violet;
            button:hover{
                transform: scaleX(1.03);
                background: $yellow;
                color: black;
                border-color: transparent;              
            }
        }

    }
   // OPPOSITE DIVS

    .opposite-project{
        border-radius:100px 10px / 120px !important;
    }

    .opposite-description{
        text-align: right !important;
    }
    .opposite-span{
        filter: drop-shadow(-15px 8px 4px #d4567394) !important;
    }
    .opposite-overlay{
        border-radius:100px 10px / 120px !important;
    }

    // OPPOSITE DIVS
}


#Smaller_projects{
    @include center;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: stretch;
    .overlaySm{
        display: inline;
        position: absolute;
        visibility: hidden;
        top: -10px;
        bottom: 0;
        left: -10px;
        right: 0;
        height: 100%;
        width: 98%;
        opacity: 0;
        transition: .5s ease;
        background-color: $yellow;
    }
    div{
        border-radius: 8px;
        background: white;
        justify-content: space-between;
        z-index: 2;
        margin: 2%;
        p{
            padding: 5%;
        }
        img {
            width:80%;
            padding: 10px;
        }
        button {
            color: white;
            padding: 10px;
            background: $violetDk;
            height: 15%;
            width: 50%;
            font-size: $medium;
            position: relative; 
            margin: 20px;
            top: 37%;
            border-radius: 15px;
            color: $yellow;
            border-style: none;
            border: 3px solid $violetDk;
            cursor: pointer;
        }
    }
    div:hover{
        .overlaySm{
            visibility: visible;
            opacity: 1;
            box-shadow:10px -10px $violetDk;
        }
    }
   
}


/* -----PROJECTS CONTAINER----- */ 

/* -----FOOTER CONTAINER----- */ 

#Contacts {
    margin-top: 50px;
    justify-content: center;
    border-top: 10px solid $green;
    .contacts-container{ 
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .contact-img {
            cursor: pointer;
            filter: grayscale(50%);
            width: 50px;
            transition: all 150ms ease-in;
        }
        .contact-img:hover{
            filter: grayscale(0%); 
            -ms-transform: translateY(-15%); 
            transform: translateY(-15%);
        }
    }  
}
/* -----FOOTER CONTAINER----- */ 

/* -----MEDIA QUERIES----- */ 

@media only screen and (max-width: 1322px){
    #About{
        article{
            button {
                width: 50%;
            }
        }
    }
    .skills-container {
        img {   
            width: 130px;
            padding: 18px;    
        } 
    }
    #Projects{
        div{
            img{
                margin: auto 0;
               width: 50%;
               height: 30%;
            }
        }
    }
    #Smaller_projects{
        .overlaySm{
            top: -5px;
            bottom: 0;
            left: -5px;
            right: 0;
        }
    }
}

@media only screen and (max-width: 1160px){
    #Projects{
        h2{
            font-size:$large;
        }
        div{
            .description{
                padding: 4%;
                line-height: 1.4;
                .project-name{
                    font-size: $medium;
                }
            }
            img{
               width: 50%;
               height: 35%;
            }
        }
    }

}
@media only screen and (max-width: 1020px){
    #About{
        article{
            button {
                width: 55%;
            }
        }
    }
    .skills-container {
        img {   
            width: 120px;
            padding: 17px;    
        } 
        figcaption{
            font-size: $standart;
        }
    }

    #Projects{
        div{
            .description{
                line-height: 1.2;
            }
        }
    }
}

@media only screen and (max-width: 1004px){
    #About{
        .banner-img{
            width: 50%;
        }
        article{
            button {
                width: 70%;
            }
            h2{
                font-size: $medium;
                span{
                    white-space: nowrap;
                }
                span::after{
                    transform-origin: bottom;
                    content: '';
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 30px;
                    background-color: $yellow;
                    transform: scaleY(0.35);
                    transition: transform 250ms ease-in;
        
                    &:hover::after{
                        transform:  scaleY(1);
                    }
                }
            }
        
        }
    }
   
    #Projects{
        div{
            .description{
                font-size: 14px;
            }
            img{
                width: 60%;
                height: 45%;
             }
        }
    }
}

@media only screen and (max-width: 881px){
    #navbar .link-wide {
        font-size: $small;
    }
    #About{
        article{
            button {
                width: 90%;
            }
            h2{
                font-size: $medium;
            }
        }
        .banner-img{
            width: 55%;
        }

    }
    #Projects{
        .overlay{
            display: flex;
            flex-direction: column;
            .in-overlay{
                font-size: $large;
            }
            justify-content: center;
            .over_btn{
                margin: 3% auto;
                height: 8vh;
                width: 50%;
            }
        }
        div{
            flex-direction: column;
            .description{
                text-align: center;
                margin-top: 5%;
                .project-name{ 
                    padding: 1% 8%;
                }
            }
            img{
                width: 100%;
             }
        }
        .opposite-project{
            flex-direction: column-reverse !important;
        }
        .opposite-description{
            text-align: center !important;
        }
        .opposite-span{
            filter: drop-shadow(-15px 8px 4px #d4567394) !important;
        }
    }
    #Smaller_projects{
        div{
            button {
                width: 70%;
            }
        }
        div:hover{
            .overlaySm{
                box-shadow: 5px -8px $violetDk;
            }
        }
    }

}

@media only screen and (max-width: 747px){
    #About{
        article{
            button {
                width: 90%;
            }
        }
        .banner-img{
            width: 60%;
        }
    }
}
@media only screen and (max-width: 695px){
    #About{
        article{
            button {
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width: 624px){
    #About{
        flex-direction: column;
        article{
            width: 95vw;
            h2{
                padding: 0 20%;
                line-height: 1.3;
            }
            button {
                margin-top: 5%;
                width: 43%;
            }
        }
    
        .banner-img{
            display: none;
        }   
    }
    #Smaller_projects{
        
        .overlaySm{
            top: 0;
            bottom: -1px;
            left: -1px;
            right: 0;
        }
        div{
            margin: 0%;
            border: 1px solid $green;
            button{
                width: 80%;
                padding-top: 3px;
                border-radius: 5px;
                margin: auto;
            }
            p{
                padding: 5%;
                font-size: $xsmall;
            }
            img {
                width:90%;
                padding: 5px;
            }
        }
        div:hover{
            .overlaySm{
                box-shadow: 3px -5px $violetDk;
            }
        }
    }
    #Contacts {
        .contacts-container{ 
            .contact-img {
                filter: grayscale(0%);
                width: 38px;;
            }
        }  
    }
    
}

@media only screen and (max-width: 571px){
    #About{
        article{
            button {
                width: 50%;
            }
        }   
    }
    #navbar {
        justify-content: space-around;
        .link-wide {
            color: #f2f2f2;
            text-align: center;
            text-transform: uppercase;
            padding: 14px 8px;
            margin: 0;
            font-size: $small;
        }
    }
    .skills-container {
        img {   
            width: 100px;
            padding: 13px;    
        } 
        figcaption{
            font-size: $small;
        }
    }

}

@media only screen and (max-width: 514px){
    .skills-container {
        width: 90%;
        .icon-container:nth-child(5){
            font-size: 8px;
        }
        img {   
            width: 80px;
            padding: 10px;    
        } 
        figcaption{
            font-size: $xsmall;
            padding: 3px;
        }
    }
}
@media only screen and (max-width: 492px){
    #About{
        article{
            button {
                width: 55%;
            }
        }   
    }
    #Projects{
        .overlay{
            .in-overlay{
                font-size: $medium;
            }
            .over_btn{
                margin: 3% auto;
                height: 8vh;
                width: 60%;
                font-size: $standart;
            }
        }
    }
    #Smaller_projects{
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        justify-content: center;
        align-items: stretch;
        .overlaySm{
            top: -7px;
            bottom: -2px;
            left: -8px;
            right: 0;
            height: 100%;
        }
        div{
            margin: 2%;
            border-color: transparent;
            p{
                font-size: $standart;
                padding: 5%;
            }
            img {
                width:80%;
                padding: 10px;
            }
        }
        
    }
    
}

@media only screen and (max-width: 456px){
    .skills-container {
        width: 95%;
        .icon-container:nth-child(5){
            font-size: 7px;
        }
        img {   
            width: 70px;
            padding: 11px;    
        } 
        figcaption{
            font-size: $xsmall;
            padding: 2px;
        }
    }   
}

@media only screen and (max-width: 367px){
    #About{
        article{
            button {
                width: 65% !important;
            }
        }   
    }
    #navbar{
        .link-wide{
            text-align: center;
            padding-left: 5px;
            padding-right: 5px;
        }
        .link-wide:nth-child(2){
            color: $yellow;
        }
        .link-wide:nth-child(4){
            color: $yellow;
        }
    }
    #About{
        article{
            button {
                width: 60%;
            }
        }   
    }
}
/* -----MEDIA QUERIES----- */ 