// COLORS

$violet: #BB19D9;
$green:  #006abb;
$yellow: #FFBC4D;
$pink: #ff97afc9;
$greyLt: #dbdbdb;
$greyDk: #808080;
$violetLt: #630085ef;
$violetDk: #670073;

// COLORS

// FONTS 

$large: 30px;
$medium: 20px;
$standart: 16px;

// FONTS
// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
html{
    // font-family: 'Quicksand', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
}
@mixin icon {
    width: 150px;
    padding: 20px;
}

@mixin center {
    // display: block;
    text-align: center;
    margin: 0 auto;
}

@mixin box {
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
   
    img {
        width: 250px;
    }
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    background: rgb(251,251,231);
    background: linear-gradient(0deg, rgba(251,251,231,1) 0%, rgba(247,203,255,1) 69%, rgba(255,255,255,1) 100%);
}

hr{
    height: 10px;
    background: $green;
    border-color: $green;
    -ms-transform: skewY(20deg); /* IE 9 */
    transform: skewY(20deg);
    position: relative;
    z-index: 0;
}

.oppositeHr{
    height: 10px;
    background: $green;
    border-color: $green;
    -ms-transform: skewY(-20deg); /* IE 9 */
    transform: skewY(-20deg);
    position: relative;
    z-index: -1;
}


a{
    text-decoration: none
}
/* -----NAVBAR CONTAINER----- */ 
.top-header{
    background: $violetDk;
    height: 50px;
}
#navbar {
    overflow: hidden;
    z-index: 3;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-evenly;
}
  
#navbar a {
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 16px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease;
}

#navbar a:hover {
    transform: all;
    border-bottom: 5px solid $yellow;
    color: $yellow;

}

.sticky {
    background: $violetDk;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
  

/* -----NAVBAR CONTAINER----- */ 

/* -----ABOUT CONTAINER----- */ 

#About{
    @include center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: transparent;

    article{
        display: flex;
        flex-direction: column;  
        width: 70%;
        margin-left: 5%;
        h2{
            font-size: $large;
            margin-top: 30%;
            span{  
                font-size: $large;
                color: $violet;
                position: relative;
            }

            span::after{
                content: '';
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 30px;
                background-color: $yellow;
                transform: scaleX(0.35);
                transform-origin: left;
                transition: transform 250ms ease-in;
            }

            span:hover::after{
                transform:  scaleX(1);
            }
        }
        button {
            @include center; 
            font-size: 1.3rem;
            position:relative;
            z-index: 1;
            width: 30%;
            height: 8%;
            border: 3px solid $violetDk;
            background: transparent;
            color: black;
            border-radius: 10px;
            transition: all 0.5s ease-in;
            cursor: pointer;
            img{
                width: 8%;
                transition: all 0.5s ease-in;
            }
        }

        button:hover{
            transform: scale(1.1);
            background: $violet;
            color: white;
            img{
                transform: rotate(90deg);
            }
        }
    }

    .banner-img{
        margin-top: 30%;
        width: 60%;
        transition: transform 0.5s ease-in;
    }
    .banner-img:hover {
        transform: scale(1.1);
    }
    
}
/* -----ABOUT CONTAINER----- */ 

/* -----SKILLS CONTAINER----- */ 
#Skills{
    background: #af38c48f;
    z-index: -1;
    padding-bottom: 200px; // makes background overflow to another div
    margin-bottom: -200px;
}
.skills-container {
    @include center;
    width: 70%;
    display: flex;
    flex-direction: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    position: relative;
    z-index: 2;
    padding-top: 3%;
    img {
        @include icon;
        background-color: $yellow;
        filter: brightness(1);
        border-radius: 8px 8px 0px 0px ;
        box-shadow: 0px -3px 15px 3px $greyDk;
        transition: filter 0.5s ease-in-out;
    }
    img:hover{
        filter: brightness(1.6);

    } 
    figcaption {
        font-size: $medium;
        font-weight: bold;
        background-color: $yellow;
        filter: brightness(1);
        padding: 5px;
        border-radius: 0px 0px 8px 8px ;
        box-shadow: 0px 3px 15px 3px $greyDk; 
        transition: filter 0.5s ease-in-out;
    }
    .icon-container:hover {
        animation: pulse; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s;     
        figcaption{
            filter: brightness(1.6);
        }
    }
}
/* -----SKILLS CONTAINER----- */ 

/* -----PROJECTS CONTAINER----- */

  
#Projects {
    @include center;
    h2{
        font-size: 2.5rem;
        color: black;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        transition: color 350ms ease-in;
    }
    h2:hover{
        color: white;
    }
    h2::after{
        content: '';
        position: absolute;
        right: 35%;
        bottom: 0;
        width: 30%;
        height: 3px;
        background-color: black;
        transform: scaleX(0.2);
        transform-origin: center;
        transition: all 350ms ease-in;
    }
    h2:hover::after{
        transform:  scaleX(1);
        background-color: white;
    }
    .overlay{
        display: inline;
        position: absolute;
        visibility: hidden;
        top: -25px;
        bottom: 0;
        left: -25px;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $violetLt;

        .in-overlay{
            color: white;
            font-size: 2.5rem;
            margin-top: 5%;
        }
    }
    div{
        @include box;
        border-radius: 10px 100px / 120px;
        background: white;
        margin: 25px;
        align-items: middle center;
        z-index: 2;
        
        .description{
            text-align: left;
            padding: 5%;
            line-height: 1.6;
            span{
                filter: drop-shadow(15px 8px 4px #d4567394);
                background-color: $pink;
                padding: 3%;
                font-size: $large;
                font-weight: bold;
                color: $violetDk;
            }
        }
        // p {
        //     padding: 5%;
        // }
        img {
            width: 60%;
            padding: 30px;
        }
        button {
            color: white;
            background: transparent;
            border-style: none;
            border: 3px solid white;
            height: 15%;
            width: 20%;
            font-size: $medium;
            position: relative; 
            margin: 20px;
            text-align: center;
            border-radius: 15px;
            cursor: pointer;
            transition: all 350ms ease-in;
        }
    }
    div:hover{
        .overlay{
            visibility: visible;
            opacity: 1;
            box-shadow: 0px 0px 35px 10px $violet;
            button:hover{
                transform: scaleX(1.03);
                background: $yellow;
                color: black;
                border-color: transparent;              
            }
        }

    }
   
}

#Smaller_projects{
    @include center;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    .overlaySm{
        display: inline;
        position: absolute;
        visibility: hidden;
        top: -30px;
        bottom: 0;
        left: -30px;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $yellow;
    }
    div{
        width: 25%;
        border-radius: 8px;
        background: white;
        margin: 30px;
        justify-content: space-between;
        z-index: 2;
        p{
            padding: 30px;
        }
        img {
            width:80%;
            padding: 10px;
        }
        button {
            color: white;
            padding: 10px;
            background: $violetDk;
            height: 15%;
            width: auto;
            font-size: $medium;
            position: relative; 
            margin: 20px;
            top: 37%;
            border-radius: 15px;
            color: $yellow;
            border-style: none;
            border: 3px solid $violetDk;
            cursor: pointer;
        }
    }
    div:hover{
        .overlaySm{
            visibility: visible;
            opacity: 1;
            box-shadow: 30px -10px $violetDk;
        }
    }
   
}


/* -----PROJECTS CONTAINER----- */ 

/* -----FOOTER CONTAINER----- */ 
#circle-name{
    @include center;
    background: $green;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: -40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    
    p {
        font-size: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-top: 16px;
        // -webkit-text-stroke-width: 2px;
        // -webkit-text-stroke-color: rgb(255, 255, 255);
    }
}

#Contacts {
    justify-content: center;
    border-top: 10px solid $green;
    .contacts-container{ 
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .contact-img {
            cursor: pointer;
            filter: grayscale(50%);
            width: 50px;
            transition: all 350ms ease-in;
        }
        .contact-img:hover{
            filter: grayscale(0%); 
            -ms-transform: translateY(-15%); /* IE 9 */
            transform: translateY(-15%);
        }
    }

    h2 {
        @include center;
        font-size: $large;
    }

    
    form{
        @include center;
        width: 50vw;
        margin-top: 2%;
        margin-bottom: 5%;
        label{
            display: block;
        }
        input{
            border-radius: 15px;
        }
        textarea{
            border-radius: 15px;
        }
        button {
            font-size: 1.3rem;
            position:relative;
            z-index: 1;
            width: 30%;
            height: 8%;
            border: 3px solid $violetDk;
            background: transparent;
            color: black;
            border-radius: 10px;
            transition: all 0.5s ease-in;
            cursor: pointer;
        }

        button:hover{
            transform: scale(1.1);
            background: $violet;
            color: white;
        }
    }
    
    
}
/* -----FOOTER CONTAINER----- */ 

/* -----MEDIA QUERIES----- */ 

@media only screen and (max-width: 1321px){
    #About{
        article{
            button {
                width: 45%;
            }
        }
    }
    .skills-container {
        img {   
            width: 130px;
            padding: 18px;    
        } 
    }
}

@media only screen and (max-width: 1160px){
    #Projects{
        div{
            .description{
                padding: 4%;
                line-height: 1.4;
            }
        }
    }

}
@media only screen and (max-width: 1020px){
    #About{
        article{
            button {
                width: 55%;
            }
        }
    }
    .skills-container {
        img {   
            width: 120px;
            padding: 17px;    
        } 
    }

    #Projects{
        h2{
            font-size:$large;
        }
        div{
            .description{
                line-height: 1.2;
            }
        }
    }
}

@media only screen and (max-width: 1004px){
    #About{
        article{
            h2{
                span{
                    white-space: nowrap;
                }
                span::after{
                    transform-origin: bottom;
                    content: '';
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 30px;
                    background-color: $yellow;
                    transform: scaleY(0.35);
                    transition: transform 250ms ease-in;
        
                    span:hover::after{
                        transform:  scaleY(1);
                    }
                }
            }
        
        }
    }

    #Projects{
        div{
            .description{
                span{
                    filter: drop-shadow(15px 8px 4px #d4567394);
                    background-color: $pink;
                    padding: 3%;
                    font-size: $medium;
                    font-weight: bold;
                    color: $violetDk;
                }
            }
        }
    }
}
/* -----MEDIA QUERIES----- */ 