$violet: #BB19D9;
// $green:  #0091ff;
$green:  #006abb;
$yellow: #FFBC4D;

$pink: #ff97af;
$greyLt: #E6E6E6;
$greyDk: #808080;
// $violetLt: #c842f5ef;
$violetLt: #630085ef;

$violetDk: #670073;

@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
html{
    // font-family: 'Georama', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
@mixin icon {
    width: 150px;
    padding: 20px;
}

@mixin center {
    // display: block;
    text-align: center;
    margin: 0 auto;
}

@mixin box {
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
   
    img {
        width: 250px;
    }
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    background: rgb(251,251,231);
    background: linear-gradient(0deg, rgba(251,251,231,1) 0%, rgba(247,203,255,1) 69%, rgba(255,255,255,1) 100%);
}

hr{
    height: 10px;
    background: $green;
    border-color: $green;
    -ms-transform: skewY(20deg); /* IE 9 */
    transform: skewY(20deg);
    position: relative;
    z-index: 0;
}

.oppositeHr{
    height: 10px;
    background: $green;
    border-color: $green;
    -ms-transform: skewY(-20deg); /* IE 9 */
    transform: skewY(-20deg);
    position: relative;
    z-index: -1;
}

a{
    text-decoration: none
}
/* -----NAVBAR CONTAINER----- */ 
.top-header{
    background: $violetDk;
    height: 50px;
}
#navbar {
    overflow: hidden;
    z-index: 3;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-evenly;
}
  
#navbar a {
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 16px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    border-bottom: 3px solid $yellow;
    color: white;
    // box-shadow: inset 0 0 15px $yellow;
}

.sticky {
    background: $violetDk;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
  

/* -----NAVBAR CONTAINER----- */ 

/* -----ABOUT CONTAINER----- */ 

#About{
    @include center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: transparent;

    article{
        display: flex;
        flex-direction: column;  
        width: 70%;
        margin-left: 5%;
        h2{
            font-size: 30px;
            margin-top: 30%;
            span{  
                font-size: 30px;
                color: $violet;
            }
            span:hover{
                border-bottom: 3px solid $yellow;
            }
        }
        button {
            @include center; 
            font-size: 1.3rem;
            position:relative;
            z-index: 1;
            width: 30%;
            height: 8%;
            border: 3px solid $violetDk;
            background: transparent;
            color: black;
            border-radius: 10px;
            transition: all 0.5s ease-in;
            cursor: pointer;
            img{
                width: 8%;
                transition: all 0.5s ease-in;
            }
        }

        button:hover{
            transform: scale(1.1);
            background: $violet;
            color: white;
            img{
                transform: rotate(90deg);
            }
        }
    }

    .banner-img{
        margin-top: 30%;
        width: 60%;
    }
    
}
/* -----ABOUT CONTAINER----- */ 

/* -----SKILLS CONTAINER----- */ 
#Skills{
    background: #af38c48f;
    z-index: -1;
    padding-bottom: 200px; // makes background overflow to another div
    margin-bottom: -200px;
}
.skills-container {
    @include center;
    width: 70%;
    display: flex;
    flex-direction: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    position: relative;
    z-index: 2;
    padding-top: 3%;
    img {
        @include icon;
        background: $yellow;
        border-radius: 8px 8px 0px 0px ;
        box-shadow: 0px -3px 15px 3px $greyDk;
    }
    
    figcaption {
        font-size: 20px;
        background: $yellow;
        padding: 5px;
        border-radius: 0px 0px 8px 8px ;
        box-shadow: 0px 3px 15px 3px $greyDk; 
    }
    .icon-container:hover {
        animation: pulse; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s;         
    }
}
/* -----SKILLS CONTAINER----- */ 

/* -----PROJECTS CONTAINER----- */

h2{
    font-size: 30px;
}
  
#Projects {
    @include center;
    h2{
        border-bottom: 2px solid $violetDk;
        border-top: 2px solid $violetDk;
        // width: 30%;
        @include center;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
    }
    .overlay{
        display: inline;
        position: absolute;
        visibility: hidden;
        top: -30px;
        bottom: 0;
        left: -30px;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $violetLt;
    }
    div{
        @include box;
        border-radius: 8px;
        background: white;
        box-shadow: inset 0 0 25px 10px #f5bbff;
        margin: 30px;
        // justify-content: space-between;
        align-items: middle center;
        z-index: 2;
        p{
            margin-top: 15%;
            padding: 30px;
        }
        img {
            width: 60%;
            padding: 30px;
        }
        button {
            color: white;
            background: transparent;
            border-style: none;
            border: 3px solid white;
            height: 15%;
            width: 20%;
            font-size: 20px;
            position: relative; 
            margin: 20px;
            top: 37%;
            text-align: center;
            border-radius: 15px;
            cursor: pointer;
            transition: all 0.5s ease-in;
        }
    }
    div:hover{
        .overlay{
            visibility: visible;
            opacity: 1;
            box-shadow: 0px 0px 35px 10px $violet;
            button:hover{
                transform: scaleX(1.03);
                background: $yellow;
                color: black;
                border-color: transparent;              
            }
        }

    }
   
}

#Smaller_projects{
    @include center;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    .overlaySm{
        display: inline;
        position: absolute;
        visibility: hidden;
        top: -30px;
        bottom: 0;
        left: -30px;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $yellow;
    }
    div{
        width: 25%;
        border-radius: 8px;
        background: white;
        margin: 30px;
        justify-content: space-between;
        z-index: 2;
        p{
            padding: 30px;
        }
        img {
            width: 250px;
            height: 150px;
            padding: 20px;
        }
        button {
            color: white;
            padding: 10px;
            background: $violetDk;
            height: 15%;
            width: auto;
            font-size: 20px;
            position: relative; 
            margin: 20px;
            top: 37%;
            border-radius: 15px;
            color: $yellow;
            border-style: none;
            border: 3px solid $violetDk;
            cursor: pointer;
        }
    }
    div:hover{
        .overlaySm{
            visibility: visible;
            opacity: 1;
            box-shadow: 30px -10px $violetDk;
        }
    }
   
}


/* -----PROJECTS CONTAINER----- */ 

/* -----FOOTER CONTAINER----- */ 
#circle-name{
    @include center;
    background: $green;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: -40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    
    p {
        font-size: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-top: 16px;
        // -webkit-text-stroke-width: 2px;
        // -webkit-text-stroke-color: rgb(255, 255, 255);
    }
}

#Contacts {
    display: flex;
    flex-direction: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10%;    
    border-top: 10px solid $green;
    padding-top: 10px;
    img {
        width: 50px;
    }
    
}
/* -----FOOTER CONTAINER----- */ 