$violet: #BB19D9;
$green:  #9DDD0A;
$yellow: #F4EF00;
$greyLt: #E6E6E6;
$greyDk: #808080;

// clip-path: polygon(0 0, 100% 0, 45% 100%, 18% 100%, 0 100%);
//     // position: absolute;
//     z-index: -1; for crooked edge background

    // background-image: url(img/code.jpg);
    // background-color: violet;
    // background-blend-mode: darken, luminosity; // blends image and color
@mixin icon {
    width: 150px;
    padding: 30px;
}

@mixin center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

@mixin box {
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    p {
        margin-top: 10%;
    }

    img {
        width: 250px;
    }
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
}
main {
    padding-top: 50px;
}
hr{
    height: 10px;
    background: $green;
    border-color: $green;
}

a{
    text-decoration: none
}
/* -----NAVBAR CONTAINER----- */ 
.top-header {
    font-size: 30px;
    display: block;
    width: 100%;
    background: $greyLt;
    color: $violet;
    height: 50px;
    position: fixed;
    z-index: 2;
    a{
        font-size: 25px;
    }
}
/* -----NAVBAR CONTAINER----- */ 

/* -----ABOUT CONTAINER----- */ 
#About{
    @include center;
}

article{
    @include center;
    width: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    background: white;
    border: 2px solid $greyDk;
    padding-bottom: 100px; // makes background overflow to another div
    margin-bottom: -100px;
    position:relative;
    z-index: 0;
    
    p{
        padding: 50px;
    }
    // img{
    //     background-color: white;
    //     background-blend-mode: screen;
    //     clip-path: circle(50% at 50% 50%);
    //     height: 200px;
    // }
}
/* -----ABOUT CONTAINER----- */ 

/* -----SKILLS CONTAINER----- */ 
#Skills{
    background: #bc19d99a;
    z-index: -1;
    padding-bottom: 200px; // makes background overflow to another div
    margin-bottom: -200px;
}
.skills-container {
    @include center;
    width: 70%;
    display: flex;
    flex-direction: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;

    img {
        @include icon;
        background: #f4f000;
        border-radius: 8px 8px 0px 0px ;
        box-shadow: 0px -3px 15px 3px $greyDk;
    }
    figcaption {
        font-size: 20px;
        background: #f4f000;
        padding: 5px;
        border-radius: 0px 0px 8px 8px ;
        box-shadow: 0px 3px 15px 3px $greyDk;      
    }
}
/* -----SKILLS CONTAINER----- */ 

/* -----PROJECTS CONTAINER----- */

h2{
    font-size: 30px;
}
  
#Projects {
    @include center;
    .overlay{
        display: inline;
        position: absolute;
        visibility: hidden;
        top: -30px;
        bottom: 0;
        left: -30px;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $greyDk;
    }
    div{
        @include box;
        border-radius: 8px;
        background: $greyLt;
        margin: 30px;
        justify-content: space-between;
        p{
            padding: 30px;
        }
        img {
            width: 650px;
            height: 350px;
            padding: 30px;
        }
        button {
            color: white;
            background: $green;
            height: 15%;
            width: 20%;
            font-size: 20px;
            position: relative; 
            margin: 20px;
            top: 37%;
            text-align: center;
        }
    }
    div:hover{
        .overlay{
            position: absolute;
            visibility: visible;
            opacity: 1;
        }
    }
}

/* -----PROJECTS CONTAINER----- */ 

/* -----FOOTER CONTAINER----- */ 
#circle-name{
    @include center;
    background: $green;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: -40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    
    p {
        font-size: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-top: 16px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(0, 0, 0);
    }
}

#Contacts {
    display: flex;
    flex-direction: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10%;
    background: $violet;
    border-top: 10px solid $green;
    padding-top: 10px;
    img {
        width: 50px;
    }
    
}
/* -----FOOTER CONTAINER----- */ 